type: object
properties: 
  id: 
    type: integer
    format: int64
  name: 
    type: string
  code: 
    type: string
  description: 
    type: string
    nullable: true
  category: 
    type: string
  resourceLevel: 
    type: string
  resourceType: 
    type: string
  managed: 
    type: boolean
  status: 
    type: string
  lastUpdated: 
    type: string
    format: date-time
  owner: 
    type: object
    properties: 
      id: 
        type: integer
        format: int64
  totalCpuUsage: 
    type: integer
    format: int64
  stats: 
    type: object
